# Requirements Extra
# fix https://github.com/openai/gym/issues/1925 , https://github.com/openai/gym/pull/2139  , or use gym==0.17.3
tensorboard
tensorboardX
Matplotlib
pandas
pytest
scipy
docopt
seaborn
numba

# notebooks
tqdm
ipython
# pyvirtualdisplay
# notebook
# ipywidgets

